.site-media-gallery-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.site-media-gallery-grid__item {
	transition: all 0.3s;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
	text-align: center;
}

.site-media-gallery-grid__item:hover {
	box-shadow: 0 0 10px 0px #dfdfdf;
}

.site-media-gallery-grid__link {
	display: block;
}

.site-media-gallery-grid__title {
  padding: 1rem;
}

.site-media-gallery-grid__image {
	display: inline;
}

@media (min-width: 768px) {
	.site-media-gallery-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.site-media-gallery-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 4rem;
	}
}
