.site-media-gallery__description {
  margin-bottom: 2rem;
}

.site-media-gallery-image-description,
.taxonomy-term-site-media-gallery-catalog-description {
	margin-bottom: 4rem;
}

.gslide-title {
	font-weight: 700 !important;
	margin-bottom: 0 !important;
}
