<div class="site-media-gallery-catalog">
	{% for delta, item in data %}
		<div class="site-media-gallery-catalog__item">
		  <a href="{{ item.url }}" class="site-media-gallery-catalog__link">
			  <img class="site-media-gallery-catalog__image" src="{{ item.style_url }}" alt="{{ item.alt }}" />
				<div class="site-media-gallery-catalog__title">{{ item.name }}</div>
			</a>
		</div>
	{% endfor %}
</div>
