<div class="site-media-gallery-grid">
	{% for delta, item in data %}
		<div class="site-media-gallery-grid__item">
		  <a href="{{ item.url }}" class="site-media-gallery-grid__link glightbox" data-gallery="glightbox-gallery" data-glightbox="title: {{ item.alt }}; description: {{ item.description }}">
			  <img class="site-media-gallery-grid__image" src="{{ item.style_url }}" alt="{{ item.alt }}" />
				{% if alt_exist  %}
				  <div class="site-media-gallery-grid__title">{{ item.alt }}</div>
				{% endif %}
			</a>
		</div>
	{% endfor %}
</div>
