{#
/**
 * @file
 * Default theme implementation to present a media gallery entity.
 *
 * This template is used when viewing a registered media gallery's page,
 * e.g., /admin/content/media-gallery)/123. 123 being the media gallery's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_site_media_gallery()
 */
#}

{{ attach_library('site_media_gallery/module') }}

{% set classes = ['site-media-gallery'] %}

<article{{ attributes.addClass(classes) }}>
  {% if content %}
    {% if not site_media_gallery.description.isEmpty() %}
    <div class="site-media-gallery__description">
      {{- content.description -}}
    </div>
    {% endif %}

    {{- content|without('description') -}}
  {% endif %}
</article>
